* {
  border-color: magenta;
  border-width: thin;
  border-style: dashed;
}

body {
  font-family: 'georgia', serif;
  font-size: 20px;
  color: #000;
  background-color: #ACFFEC;
  width: 960px;
}

h1 {
  font-family: 'Merriweather', serif;
  color: #6B2006;
  font-weight: 900;
  font-size: 35px;
  text-align: center;
}

h2 {
  font-family: 'Merriweather', serif;
  color: #6B2006;
  font-weight: 900;
  font-size: 20px;
}

a:link {
    color: #fff;
}

a:visited {
    color: #FF8C65;
}

#data {
  font-family: 'arial', sans-serif;
  background-color: #fff;
  text-align: right;
  font-size: 15px;
}

form {
  background-color: #FFDBCF;
  text-align: left;
  padding: 10px 30px;
}

legend {
  font-family: 'Merriweather', serif;
  color: #6B2006;
  font-weight: 900;
  font-size: 20px;
  padding-bottom: 20px;
}

#border {
  background-color: #ACFFEC;
  width: auto;
  height: 20px;
}

.inner ul {
  background-color: #06634E;
  color: #fff;
}

/* make banner row list elements lay out horizontally */
.inner ul li {
  display: inline-block;
  font-family: 'arial', sans-serif;
  margin: 0;
  padding: 10px 60px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}

.merch {
  width: 310px;
}

footer{
  background-color: #06634E;
  color: #fff;
  width: 960px;
  text-align: center;
  font-size: 15px;
}

#chinook {
  padding: 10px 0px;
  border-radius: 10px;
}
