

body {
  font-family: 'georgia', serif;
  font-size: 20px;
  color: #000;
  background-color: #ACFFEC;
  width: 960px;
}

h1 {
  font-family: 'Merriweather', serif;
  color: #6B2006;
  font-weight: 900;
  font-size: 35px;
}

h2 {
  font-family: 'Merriweather', serif;
  color: #6B2006;
  font-weight: 900;
  font-size: 20px;
}

#data {
  font-family: 'arial', sans-serif;
  background-color: #fff;
  text-align: right;
  font-size: 15px;
}

form {
  background-color: #FFDBCF;
  text-align: left;
  padding: 30px 30px;
}

legend {
  font-family: 'Merriweather', serif;
  color: #6B2006;
  font-weight: 900;
  font-size: 20px;
  padding-bottom: 20px;
}

#border {
  background-color: #ACFFEC;
  width: auto;
  height: 20px;
}

.inner ul {
  background-color: #06634E;
  color: #fff;
}

/* make banner row list elements lay out horizontally */
.inner ul li {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  font-family: 'arial', sans-serif;
}

footer{
  background-color: #06634E;
  color: #fff;
  width: 960px;
  text-align: center;
  font-size: 15px;
}
